<!DOCTYPE HTML>
<html>
	<head>
		<title>WeRise</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/static/css/main.css" />
        <link rel="icon" href="/static/css/images/new.png">
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
                <section id="header" style = "background-color: #eddcd2;">
                    
            

					<!-- Logo -->
						<h1><a href="index"><img src = "/static/css/images/new.png"  width="200" height="200"></a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="index">Home</a></li>
								<li><a href="programming">Programming</a></li>
								<li><a href="finance">Finance</a></li>
                                <li><a href="mental-health">Mental Health</a></li>
                                <li><a href="report">Report</a></li>
                            </ul>
                            
                            <br>
                    <div id = 'loginBox'>
                        <!-- if user is logged in, then their username will appear on the website -->
                        {% if session %}
                        <h3> Signed in as: {{ session.username }} </h3>
                        <div id = 'logoutButton'>
                        <form method = "POST" action = "/logout">
                        <br>
                        <input type = "submit" value = "Logout">
                        </form>
                        </div>
                        <!-- if user is not logged in, options to login or sign up will appear -->
                        {%  else  %}
                        <ul style = "display: flex; justify-content: space-evenly;">
                        <li id = login style = "white-space: nowrap;"><a href="login">Login</a></li>
                        </li>
                        <li id = login style = "white-space: nowrap;"><a href="signup">Sign up</a></li>
                        </ul>
                        {% endif %}
                    </div>
						</nav>

					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>Welcome to our site! </h2>
								<p style = "color: #fff1e6;">We offer resources on programming, finance, and mental health.</p>
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
									<section class="first">
										<i class="icon solid featured alt fa-hand-holding-usd"></i>
										<header>
											<h2>Finance</h2>
										</header>
										<p>Learn personal finance and explore resources to expand your knowledge</p>
									</section>
								</div>
								<div class="col-4 col-12-medium">
									<section class="middle">
										<i class="icon solid featured alt fa-code"></i>
										<header>
											<h2>Programming</h2>
										</header>
										<p>Start learning how to code and practice on our chosen websites</p>
									</section>
								</div>
								<div class="col-4 col-12-medium">
									<section class="last">
										<i class="icon solid featured alt fa-spa"></i>
										<header>
											<h2>Mental health</h2>
										</header>
										<p>Feeling down? Here are some resources to learn about maintaining your mental health</p>
									</section>
								</div>
							</div>
						
						</section>

				</section>
			<!-- Main -->
				<section id="main" style = "background-color: #eddcd2;">
					<div class="container">
						<div class="row">
							<div class="col-12">

							<div class="">
								<section>
									<header>
										<h2 style = "text-align: center;">About Us</h2>
									</header>
									<!-- <a href="#" class="image featured"><img src="images/pic10.jpg" alt="" /></a> -->
									<p style = "text-align: center;">
                                        <strong>WeRise</strong> is a educational website designed to connect young POC to important skills such as computer programming and finance, as well as 
                                        checking in on their mental health. Immediate action is needed in order to diversify the workplace in the future. We created this site in hopes of introducing
                                        young people of color, such as ourselves, to new opportunities while nurturing our overall well-being. 
                                        <br>
                                        <br>
                                        <h3 style = "text-align: center;">    <strong>Sydney Chaca</strong>   </h3> 
                                        
                                        <p>As a young woman from Latin America, it is disheartening to see a lack of women in tech, and even less WOC. 
                                            I am determined to use my voice and skills, now and in the future, to encourage and instill hope 
                                            in other young women to delve into the world of finance and technology.
                                        </p>
                                        <h3 style = "text-align: center;"> <strong>Ivan Zhang</strong> </h3> 
                                        
                                        <p> I share the same thoughts with Sydney and as of now, the finance and tech field needs more diversity. 
                                            In the future, I hope to see more diversity in the tech field when I begin programming professionally.
                                        </p>

									<footer>
										
									</footer>
								</section>
							</div>
							
							<div class="col-12">

								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
										</ul>
									</div>

							</div>
						</div>
					</div>
				</section>

		</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.dropotron.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>
